@model web_groupware.Models.GroupMasterDetailViewModel

@{
    ViewData["Title"] = "グループマスタ（更新）";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box page-title-box-alt">
                <h4 class="page-title">グループマスタ</h4>
            </div>
        </div>
    </div>
    <div class="card" style="">
        <div class="card-body">
            <form asp-controller="Group" asp-action="Edit" asp-route-id="@Model.group_cd" class="form-box">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4 col-12 form-group">
                        <div>
                            <label asp-for="@Model.group_cd" class="control-label"></label>
                            <input asp-for="@Model.group_cd" class="form-control" readonly />
                        </div>
                        <div>
                            <span asp-validation-for="@Model.group_cd" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-12 form-group mt-2">
                        <div>
                            <label asp-for="@Model.group_name" class="control-label"></label>
                            <input asp-for="@Model.group_name" class="form-control" maxlength="10" />
                        </div>
                        <div>
                            <span asp-validation-for="@Model.group_name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a class="btn btn-primary" asp-controller="Group" asp-action="Index">キャンセル</a>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-primary">更　新</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Group.js" asp-append-version="true"></script>
    }
}
