@model ReportDetailViewModel
@using web_groupware.Utilities
@{
#pragma warning disable CS8600, CS8601, CS8602, CS8604, CS8618, CS8629
    var action_1 = "";
    var word = "";
    var icon = "";
    var btn_color = "";
    if (Model.mode == 1)
    {
        action_1 = "Create";
        word = "新規登録";
        icon = "bi-plus-lg";
        btn_color = "btn-primary";
    }
    else if (Model.mode == 2)
    {
        action_1 = "Update";
        word = "変更";
        icon = "bi-pencil";
        btn_color = "btn-primary";
    }
    else if (Model.mode == 3)
    {
        action_1 = "Delete";
        word = "削除";
        icon = "bi-trash3";
        btn_color = "btn-danger";
    }
    else if (Model.mode == 4)
    {
        action_1 = "Create_Comment";
        word = "コメント";
        icon = "bi-plus-lg";

    }
    ViewData["Title"] = "日報" + word;

}
@section Styles {
    @*     <link rel="stylesheet" href="~/css/BaseDialogStaff.css" />
 *@
}

<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">ホーム</a></li>
                <li class="breadcrumb-item"><a asp-controller="Report" asp-action="Index">日報</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    @word
                </li>
            </ol>
        </nav>
    </div>
    <form id="frm" method="post" asp-controller="Report" asp-action="@action_1" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.mode" />
        <input type="hidden" asp-for="@Model.report_no" />
        <input type="hidden" asp-for="@Model.cond_date" />
        <input type="hidden" asp-for="@Model.cond_already_read" />
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="page-title mb-0">日報<span>@word</span></h4>
                <div class="d-flex justify-content-end">
                    <a type="button" asp-controller="Report" asp-action="Index" asp-route-date="@Model.cond_date" asp-route-cond_already_read="@Model.cond_already_read" class="btn btn-secondary me-3">
                        <i class="bi bi-arrow-return-left"></i> 戻る
                    </a>
                    @if (@Model.mode == 1 || Model.mode == 2 || Model.mode == 3)
                    {
                        <button type="button" class="btn @btn_color kakuninDialog">
                            <i class="bi @icon"></i>
                            @word
                        </button>
                    }
                    else if (Model.mode == 4)
                    {
                        @if (Model.isMe)
                        {
                            <a asp-controller="Report" asp-action="ReportDetail" asp-route-mode="2" asp-route-cond_date="@Model.cond_date" asp-route-cond_already_read="@Model.cond_already_read" asp-route-report_no="@Model.report_no" class="btn btn-primary me-3">
                                <i class="bi bi-pencil"></i> 変更
                            </a>
                            <a asp-controller="Report" asp-action="ReportDetail" asp-route-mode="3" asp-route-cond_date="@Model.cond_date" asp-route-cond_already_read="@Model.cond_already_read" asp-route-report_no="@Model.report_no" class="btn btn-danger">
                                <i class="bi bi-trash3"></i> 削除
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="row text-danger p-3" asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col form-group mb-3">
                        <div class="col-3">
                            <label asp-for="@Model.report_date" class="form-label"></label>
                            <div class="input-group">
                                @if (Model.mode == 2 || Model.mode == 3 || @Model.mode == 4)
                                {
                                    <input type="hidden" asp-for="@Model.report_date">
                                    <label class="mb-0 p-1 form-control" style="white-space: pre-wrap">@Model.report_date.ToString("yyyy/MM/dd")</label>
                                }
                                else
                                {
                                    <input type="text" asp-for="@Model.report_date" class="form-control bg-white site_calendar">
                                    <span class="input-group-text site_calendar_icon"><i class="bi bi-calendar-event"></i></span>
                                }
                            </div>
                        </div>
                        <div>
                            <span asp-validation-for="@Model.report_date" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group mb-3">
                        <div class="">
                            <label asp-for="@Model.message" class="form-label"></label>
                            @if (Model.mode == 3 || @Model.mode == 4)
                            {
                                <input type="hidden" asp-for="@Model.message"></input>
                                <label class="mb-0 p-1 form-control" style="white-space: pre-wrap">@Model.message</label>
                            }
                            else
                            {
                                <textarea asp-for="@Model.message" rows="7" class="form-control bg-white" placeholder="（日報の内容）"></textarea>
                            }

                        </div>
                        <div>
                            <span asp-validation-for="@Model.message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @if (Model.mode != 1)
                {
                    <div class="col-12 col-sm-6">
                        <label class="form-label">更新情報</label>
                        <div class="row px-4">
                            <div class="col-2">
                                <label class="control-label mb-0">作成</label>
                            </div>
                            <div class="col-6">
                                <label>@Model.create_date</label>
                            </div>
                            <div class="col-4">
                                <label>@Model.create_user</label>
                            </div>
                        </div>
                        <div class="row px-4">
                            <div class="col-2">
                                <label class="control-label mb-0">更新</label>
                            </div>
                            <div class="col-6">
                                <label>@Model.update_date</label>
                            </div>
                            <div class="col-4">
                                <label>@Model.update_user</label>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.mode == 4)
                {
                    @**********　確認　start　*************************************************************************@
                    <div class="row mt-1">
                        <div class="col">
                            @{
                                var btn_text_main = "";
                                @if (!Model.already_checked)
                                {
                                    btn_text_main = Check_button_text.CHECK;
                                }
                                else
                                {
                                    btn_text_main = Check_button_text.CANCEL;
                                }
                            }
                            <a href="javascript:void(0)" data-comment_no="@Model.report_no" class="check_main me-3">@btn_text_main</a>
                            <span class="accordion" id="accordionExample">
                                <span class="accordion-header alert alert-primary p-0">
                                    <a href="javascript:void(0)" id="_Checked_count" class="" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                                        @Model.check_count
                                    </a>
                                </span>
                                <div id="collapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div id="_Checked_member" class="accordion-body py-0">
                                        @foreach (var item in Model.list_check_member)
                                        {
                                            <div>@item</div>
                                        }
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    @**********　確認　end　*************************************************************************@
                }
                @if (Model.list_report != null && Model.list_report.Count > 0)
                {
                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label">コメント</label>
                        </div>
                    </div>

                    <div id="" class="card scroll mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">
                                    コメント日時
                                </div>
                                <div class="col-2">
                                    投稿者
                                </div>
                                <div class="col-8">
                                    コメント内容
                                </div>
                            </div>
                        </div>

                        <div id="scroll-inner" class="card-body">
                            @for (var i = 0; i < Model.list_report.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model.list_report[i].message" />
                                <div class="row">
                                    <div class="col-2">
                                        <span>@Model.list_report[i].update_date</span>
                                    </div>
                                    <div class="col-2">
                                        <span>@Model.list_report[i].update_user</span>
                                    </div>
                                    <div class="col-8">
                                        <span style="white-space: pre-wrap">@Model.list_report[i].message</span>
                                    </div>
                                </div>
                                @**********　確認　start　*************************************************************************@
                                <div class="row">
                                    <div class="col">
                                        @{
                                            var btn_text = "";
                                            @if (!Model.list_report[i].already_checked_comment)
                                            {
                                                btn_text = Check_button_text.CHECK;
                                            }
                                            else
                                            {
                                                btn_text = Check_button_text.CANCEL;
                                            }
                                        }
                                        <a href="javascript:void(0)" data-comment_no="@Model.list_report[i].comment_no" data-data_no="@i" class="check_comment me-3">@btn_text</a>
                                        <span class="accordion" id="accordionExample_@i">
                                            <span class="accordion-header alert alert-primary p-0">
                                                <a href="javascript:void(0)" id="_Checked_count_@i" class="" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-expanded="false" aria-controls="collapse_@i">
                                                    @Model.list_report[i].check_count
                                                </a>
                                            </span>
                                            <div id="collapse_@i" class="accordion-collapse collapse" data-bs-parent="#accordionExample_@i">
                                                <div id="_Checked_member_@i" class="accordion-body py-0">
                                                    @foreach (var item in Model.list_report[i].list_check_member)
                                                    {
                                                        <div>@item</div>
                                                    }
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                @**********　確認　end　*************************************************************************@
                                if (i != Model.list_report.Count - 1)
                                {
                                    <div class="border-top mt-2 pb-2">
                                    </div>
                                }
                            }
                        </div>
                    </div>

                }
                @if (Model.mode == 4)
                {
                    <div class="card mt-3">

                        <div>
                            <textarea asp-for="@Model.report.message" rows="4" class="form-control bg-white" placeholder="コメント記載"></textarea>
                        </div>
                        <div>
                            <span asp-validation-for="@Model.report.message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-primary">
                                <i class="bi bi-plus-lg"></i>
                                コメント投稿
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <h4 class="page-title mb-0 invisible">日報<span>@word</span></h4>
                <div class="d-flex justify-content-end">
                    <a type="button" asp-controller="Report" asp-action="Index" asp-route-date="@Model.cond_date" asp-route-cond_already_read="@Model.cond_already_read" class="btn btn-secondary me-3">
                        <i class="bi bi-arrow-return-left"></i> 戻る
                    </a>
                    @if (@Model.mode == 1 || Model.mode == 2 || Model.mode == 3)
                    {
                        <button type="button" class="btn @btn_color kakuninDialog">
                            <i class="bi @icon"></i>
                            @word
                        </button>
                    }
                    else if (Model.mode == 4)
                    {
                        @if (Model.isMe)
                        {
                            <a asp-controller="Report" asp-action="ReportDetail" asp-route-mode="2" asp-route-cond_date="@Model.cond_date" asp-route-cond_already_read="@Model.cond_already_read" asp-route-report_no="@Model.report_no" class="btn btn-primary me-3">
                                <i class="bi bi-pencil"></i> 変更
                            </a>
                            <a asp-controller="Report" asp-action="ReportDetail" asp-route-mode="3" asp-route-cond_date="@Model.cond_date" asp-route-cond_already_read="@Model.cond_already_read" asp-route-report_no="@Model.report_no" class="btn btn-danger">
                                <i class="bi bi-trash3"></i> 削除
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        // <script src="~/js/BaseDialogStaff.js" asp-append-version="true"></script>
        <script src="~/js/Report.js" asp-append-version="true"></script>
    }
}

