@model web_groupware.Models.TodoCommentModel
@using web_groupware.Utilities;

@{
    ViewData["Title"] = "TODOリスト";
    ViewData["FormName"] = "commentForm";
}

@section Styles {
    <link href="~/css/file.css" rel="stylesheet" />
}

<div>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Todo" asp-action="Index">TODOリスト</a></li>
                <li class="breadcrumb-item active" aria-current="page"> コメント</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header justify-content-between d-flex align-items-center">
            <span>
                <h4 class="mb-0">コメント</h4>
            </span>
            <div class="d-flex justify-content-end">
                <h4 class="page-title mb-0">　</h4>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                        <i class="bi bi-arrow-return-left"></i> キャンセル
                    </button>
                    <button type="button" class="btn btn-primary btnAddComment">
                        <i class="bi bi-plus-lg"></i>
                        コメント投稿
                    </button>
                </div>
            </div>
        </div>
        <form id="commentForm" asp-controller="Todo" asp-action="CommentList" method="post">
            <input hidden asp-for="@Model.id" />
            <input type="hidden" asp-for="@Model.Delete_files" />
            <div id="" class="card-body ">
                <div id="" class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                コメント日時
                            </div>
                            <div class="col-2">
                                投稿者
                            </div>
                            <div class="col-7">
                                コメント内容
                            </div>
                            <div class="col-1">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="scroll-inner" class="card-body scroll">
                    @foreach (var item in Model.fileList)
                    {
                        <div class="row mt-1 mb-1 border-top border-bottom p-1 align-items-center">
                            <div class="col-2">
                                <span>@item.update_date</span>
                            </div>
                            <div class="col-2">
                                <span>@item.update_user</span>
                            </div>
                            <div class="col-7">
                                <span style="white-space: pre-wrap">@item.message</span>
                            </div>
                            <div class="col-1">
                                @if (!item.already_read_comment)
                                {
                                    <button type="button" data-site_form="form_Read_comment" data-site_confirm="このコメントを確認済みにしてもよろしいですか？" data-comment_no="@item.comment_no" class="btn btn-primary Report_save_comment_no kakuninDialog">
                                        <i class="bi bi-check-circle"></i>
                                        確認
                                    </button>
                                }
                            </div>
                            @if (item.CommentFileDetailList.Count != 0)
                            {
                                <div class="row">
                                    <div class="col d-flex">

                                        @foreach (var file in item.CommentFileDetailList)
                                        {
                                            <div class="div_icon_child dropdown fileAreaHeitWidth">
                                                <input type="hidden" asp-for="@file.filename">
                                                <input type="hidden" asp-for="@file.file_no">
                                                <button class="border-0 p-0 dropdown-toggle btn_file fileAreaInnerWidth" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: var(--bs-card-bg);">
                                                    <div class="div_tooltip" data-toggle="tooltip" data-placement="top" title="@file.filename">

                                                        <div class="div_img_file bg-light p-2">
                                                            @{
                                                                var icon = System.IO.Path.GetExtension(file.filename).Remove(0, 1) + ".svg";
                                                            }

                                                            <img src="~/images/file-icons/@icon" alt="icon" style="height: 50px;">
                                                        </div>
                                                        <div class="text-wrap">@file.filename</div>
                                                    </div>
                                                </button>
                                                <ul class="dropdown-menu fileAreaInnerWidth text-center">
                                                    <button class="dropdown-item download_file" type="button" role="button" data-dir_kind="1" data-file_name="@file.filename" data-dir_no_child="@file.comment_no">ﾀﾞｳﾝﾛｰﾄﾞ</button>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        
                    }
                </div>

                <div class="row mt-3" id="div_icon">
                    @if (Model.CommentFileList.Count != 0)
                    {
                        @for (int i = 0; i < Model.CommentFileList.Count; i++)
                        {
                            <div id="div_icon_@i" class="div_icon_child dropdown fileAreaHeitWidth">
                                <input type="hidden" asp-for="@Model.CommentFileList[i].filename">
                                <input type="hidden" asp-for="@Model.CommentFileList[i].file_no">
                                <button class="border-0 p-0 dropdown-toggle btn_file fileAreaInnerWidth" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: var(--bs-card-bg);">
                                    <div class="div_tooltip" data-toggle="tooltip" data-placement="top" title="@Model.CommentFileList[i].filename">

                                        <div class="div_img_file bg-light p-2">
                                            @{
                                                var icon = System.IO.Path.GetExtension(Model.CommentFileList[i].filename).Remove(0, 1) + ".svg";
                                            }

                                            <img src="~/images/file-icons/@icon" alt="icon" class="">
                                        </div>
                                        <div class="text-wrap main_files">@Model.CommentFileList[i].filename</div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu fileAreaInnerWidth text-center">
                                    <button class="dropdown-item delete_file" type="button" role="button" id="delete_@i" data-dir_kind="1" data-file_name="@Model.CommentFileList[i].filename">削除</button>
                                    <button class="dropdown-item download_file" type="button" role="button" data-dir_kind="1" data-file_name="@Model.CommentFileList[i].filename">ﾀﾞｳﾝﾛｰﾄﾞ</button>
                                </ul>
                            </div>
                        }
                    }
                </div>
                <div class="row" id="fileArea">
                    <input type="hidden" asp-for="@Model.work_dir">
                    <input type="hidden" id="dic_cd" value="@DIC_KB_700_DIRECTORY.TODO_COMMENT">
                    <input type="hidden" id="dir_no" value="@Model.comment_no">
                    <div class="col-12 card dropArea border-0 px-3 ">
                        <div class="text-center px-3 py-3 border-primary bg-white" style=" border: 3px dotted #adadad!important;">
                            <span>ファイルをドラッグ＆ドロップするかクリップボードから画像を貼り付けしてください　または　</span>
                            <label class="input-group-btn hand-pointer">
                                <span class="btn btn-secondary">
                                    ファイル選択<input type="file" multiple class="d-none" asp-for="@Model.File">
                                </span>
                            </label>
                            <br>
                            <span>ファイル追加（Shiftキーを押しながらファイルを複数選択可能）</span>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col">
                        <div>
                            <textarea asp-for="@Model.message_new" rows="4" class="form-control bg-white" placeholder="コメント記載"></textarea>
                        </div>
                        <div>
                            <span asp-validation-for="@Model.message_new" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <h4 class="page-title mb-0">　</h4>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                        <i class="bi bi-arrow-return-left"></i> キャンセル
                    </button>
                    <button type="button" class="btn btn-primary btnAddComment">
                        <i class="bi bi-plus-lg"></i>
                        コメント投稿
                    </button>
                </div>
            </div>
        </form>

        <form id="form_Read_comment" asp-controller="Todo" asp-action="Read_comment" method="post">
            <input type="hidden" asp-for="@Model.already_read_comment_no" />
            <input type="hidden" asp-for="@Model.todo_no" />
            @* <input type="hidden" asp-for="@Model.cond_bukken_name" /> *@
        </form>
        
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/TodoComment.js" asp-append-version="true"></script>
        <script src="~/js/File.js" asp-append-version="true"></script>
    }
}
