@model web_groupware.Models.TodoViewModel
@using web_groupware.Utilities;

@{
    ViewData["Title"] = "TODOリスト";
    ViewData["FormName"] = "todoForm";
    ViewData["ConfirmText"] = "データを削除します。よろしいですか？";
}

@section Styles {
    <link href="~/css/file.css" rel="stylesheet" />
}

<div>
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Todo" asp-action="Index">TODOリスト</a></li>
                <li class="breadcrumb-item active" aria-current="page">削除</li>
            </ol>
        </nav>
    </div>
    <form asp-action="Delete" id="todoForm" class="form-box" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <span>
                    <h4 class="mb-0">TODO削除</h4>
                </span>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                        <i class="bi bi-arrow-return-left"></i> キャンセル
                    </button>
                    <button type='button' class="btn btn-danger" data-toggle='modal' data-target="#modal-delete" onClick="onConfirmModal()">
                        <i class="bi bi-trash3"></i> 削除
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="@Model.todo_no" />
                <input hidden asp-for="@Model.Delete_files" />

                <div class="form-group mb-3">
                    <label asp-for="@Model.public_set" class="form-label"></label>
                    <select asp-for="@Model.public_set" class="form-select w-50 bg-white" aria-label="" id="s_public" disabled>
                        <option value=0>非公開</option>
                        <option value=1>公開</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.group_set" class="form-label"></label>
                    <select asp-for="@Model.group_set" class="form-select w-50 bg-white" aria-label="" id="s_group" disabled>
                        <option value=0>複数人</option>
                        <option value=1>グループ</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.deadline_set" class="form-label">期限</label>
                    <select asp-for="@Model.deadline_set" class="form-select w-50 bg-white" aria-label="期限" id="s_deadline" onchange=showEndDate() disabled>
                        <option value="0">期限なし</option>
                        <option value=1>期限あり</option>
                    </select>
                </div>

                <div class="form-group mb-3" id="deadline_date_area">
                    <label asp-for="@Model.deadline_set" class="form-label">期限あり</label>
                    <div class="input-group position-relative me-3 w-50" id="input-repeatdate-from-wrapper">
                        <input type="text" class="form-control bg-white site_calendar" asp-for="@Model.deadline_date" data-provide="datepicker" data-date-format="yyyy/mm/dd" data-date-autoclose="true" data-date-container="#input-repeatdate-from-wrapper" disabled>
                        <span class="input-group-text" id="repeatdate-from-icon"><i class="bi bi-calendar-event"></i></span>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.title" class="form-label">タイトル</label>
                    <input asp-for="@Model.title" type="text" class="form-control bg-white" id="s_title" required disabled>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.description" class="form-label">説明</label>
                    <textarea asp-for="@Model.description" class="form-control bg-white" id="s_description" disabled></textarea>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.File" class="form-label"></label>
                    <partial name="_FileList" model="@Model.fileModel" />
                </div>

                <div class="row mb-3" id="fileArea">
                    <input type="hidden" asp-for="@Model.work_dir">
                    <input type="hidden" id="dic_cd" value="@DIC_KB_700_DIRECTORY.TODO">
                    <input type="hidden" id="dir_no" value="@Model.todo_no">

                    <div class="col-12 dropArea border-0 p-2">
                        <div id="drag_area" class="text-center px-3 py-3 bg-white">
                            <span>ファイルをドラッグ＆ドロップするかクリップボードから画像を貼り付けしてください　または　</span>
                            <label class="input-group-btn hand-pointer">
                                <span class="btn btn-secondary">
                                    ファイル選択<input type="file" multiple class="d-none" asp-for="@Model.File" disabled>
                                </span>
                            </label>
                            <br>
                            <span>ファイル追加（Shiftキーを押しながらファイルを複数選択可能）</span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.response_status" class="form-label">期限</label>
                    <select asp-for="@Model.response_status" class="form-select w-50 bg-white" aria-label="状態" id="s_response" disabled>
                        <option value="0">未対応</option>
                        <option value=1>対応中</option>
                        <option value=2>完了</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="@Model.MyStaffList" class="control-label"></label>
                    <select asp-for="@Model.MyStaffList" class="form-control bg-white" multiple disabled>
                        <option value=""></option>
                        <optgroup label="グループ">
                            @if (Model.GroupList != null)
                            {
                                @foreach (var item in Model.GroupList)
                                {
                                    <option value="G-@item.group_cd" data-staff_cds='@string.Join(",", @item.staffs)'>@item.group_name</option>                                            
                                }
                            }
                        </optgroup>
                        <optgroup label="個人">
                            @if (Model.StaffList != null)
                            {
                                @foreach (var item in Model.StaffList)
                                {
                                    <option value="S-@item.staf_cd">@item.staf_name</option>
                                }
                            }
                        </optgroup>
                    </select>
                    <span asp-validation-for="@Model.staffList" class="text-danger"></span>
                </div>
                <div class="form-group row mt-3" id="create_info">
                    <div class="col-sm-6">
                        <label class="control-label me-4" asp-for="@Model.create_user"></label>
                        <input asp-for="@Model.create_user" class="form-control bg-white" type="text" readonly />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label me-4" asp-for="@Model.create_date"></label>
                        <input asp-for="@Model.create_date" class="form-control bg-white" type="text" readonly />
                    </div>
                </div>
                <div class="form-group row mt-3" id="update_info">
                    <div class="col-sm-6">
                        <label class="control-label me-4" asp-for="@Model.update_user"></label>
                        <input asp-for="@Model.update_user" class="form-control bg-white" type="text" readonly />
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label me-4" asp-for="@Model.update_date"></label>
                        <input asp-for="@Model.update_date" class="form-control bg-white" type="text" readonly />
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                        <i class="bi bi-arrow-return-left"></i> キャンセル
                    </button>
                    <button type='button' class="btn btn-danger" data-toggle='modal' data-target="#modal-delete" onClick="onConfirmModal()">
                        <i class="bi bi-trash3"></i> 削除
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/TodoCreate.js" asp-append-version="true"></script>
        <script src="~/js/File.js" asp-append-version="true"></script>
    }
}
