@{
    ViewData["Title"] = " TODOリスト";
}

@model web_groupware.Models.TodoViewModel;

<div class="row">
    <nav class="col-lg-4 col-md-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">TODOリスト</li>
        </ol>
    </nav>
</div>

<div class='card'>
    <div class="card-header d-flex align-items-center">
        <div class="d-flex gap-0 col-lg-3 col-3">
            <label class=" my-auto text-center w-25">状態</label>
            <select class="form-select w-50" aria-label="状態" id="select-response" onchange="filterResponse();">
                <option value="-1" selected>All</option>
                <option value=0>未対応</option>
                <option value=1>対応中</option>
                <option value=2>完了</option>
            </select>
        </div>
        <div class="d-flex col-lg-3 col-3">
            <label class=" my-auto text-center w-25">期限</label>
            <select class="form-select w-50" aria-label="期限" id="select-deadline" onchange="filterResponse();">
                <option value="-1" selected>未設定</option>
                <option value=1>期限あり</option>
                <option value=0>期限なし</option>
            </select>
        </div>
        @* <div class="d-flex col-lg-2 col-2">
            <label class=" my-auto text-center w-25">担当者</label>
            <select class="form-select w-50 " aria-label="担当者" id="select-manager" onchange="filterResponse();">
                <option value="" selected>未設定</option>
                @foreach (var user in Model.userList)
                {
                    <option value=@user.userName >@user.userName</option>
                }
            </select>
        </div> *@
        <div class="d-flex col-lg-3 col-3">
            <div class="input-group me-3">
                <span class="input-group-text">キーワード</span>
                <input type="text" id="keyword" class="form-control" placeholder="キーワードを入力" aria-label="キーワード">
            </div>
        </div>
        <div class="d-flex col-lg-3 col-3">
            <a class="btn btn-primary" style="margin-left: auto" asp-action="Create">
                <i class="bi bi-plus"></i> 新規登録
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var item in Model.fileList)
            {
                <div class="col-12 todo" data-id="@item.todo_no" data-status="@item.response_status" data-deadline="@item.deadline_set" data-user="@item.staf_cd">
                    <div class="card mb-3">
                        <div class="card-header justify-content-between">
                            <span></span>
                            <span>時刻：@item.create_date</span>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="d-flex justify-content-between fs-4 fw-bold my-1">
                                    <div class="col-4">
                                        @if (item.title.Length <= 20)
                                        {
                                            <span>@item.title</span>
                                        }
                                        else
                                        {
                                            <span>@item.title.Substring(0, 20)</span>
                                            <span>...</span>
                                        }
                                    </div>
                                    <span class="col-2">@((item.group_set == 0) ? "複数人" : "グループ")</span>

                                    <span class="col-2">@((item.deadline_set == 0) ? "期限なし" : "期限あり")</span>
                                    @if (item.deadline_date != null)
                                    {
                                        <span class="col-3 deadline-date" data-deadline-date="@item.deadline_date">@item.deadline_date</span>
                                    }
                                    else
                                    {
                                        <span class="col-3"></span>
                                    }
                                    @* @if(item.has_file == 1)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <i class="fa fa-file"></i>
                                        </div>
                                    } *@
                                    @{
                                        switch (item.response_status)
                                        {
                                            case 0:
                                                <div class="fs-4 fw-bold bg-warning rounded-pill px-2">
                                                    未対応
                                                </div>
                                                break;
                                            case 1:
                                                <div class="fs-4 fw-bold bg-info rounded-pill px-2">
                                                    対応中
                                                </div>
                                                break;
                                            default:
                                                <div class="fs-4 fw-bold bg-primary rounded-pill px-2">
                                                    完了
                                                </div>
                                                break;
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="card-footer justify-content-between">
                            <a class="btn btn-primary btnUpdate">
                                <i class="bi bi-pencil"></i> 変更
                            </a>
                            <a class="btn btn-danger btnDelete">
                                <i class="bi bi-trash3"></i> 削除
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Todo.js" asp-append-version="true"></script>
    }
    
    <script>
        var itemId;
        
        function downloadFile(id) {
            getUrl(id);
            if (fileName) {
                $.ajax({
                    url: 'Todo/DownloadFile?fileName=' + fileName,
                    type: 'GET',
                    xhrFields: {
                        responseType: 'blob' 
                    },
                    success: function(response) {
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(response);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        fileName = undefined;
                    },
                    error: function(xhr, status, error) {
                        console.error('Error downloading file: ' + error);
                    }
                });
            }
        }

        function getUrl(id) {
            $.ajax({
                method: "get",
                url: "Todo/itemGet?id=" + id,
                success: function (result) {
                    fileName = result.sendUrl;
                },
                error: function (xhr) {
                    console.error("Error: " + xhr.responseText);
                }
            });
        }
    </script>
}