@model web_groupware.Models.EmployeeGroupDetail

@{
    ViewData["Title"] = "社員グループマスタ（削除）";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box page-title-box-alt">
                <h4 class="page-title">社員グループマスタ</h4>
            </div>
        </div>
    </div>
    <div class="card" style="">
        <div class="card-body">
            <form asp-controller="EmployeeGroup" asp-action="Delete" asp-route-group_cd="@Model.group_cd" asp-route-staf_cd="@Model.staf_cd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4 col-12 form-group">
                    <label asp-for="@Model.group_name" class="control-label"></label>
                    <input asp-for="@Model.group_name" class="form-control" readonly />
                </div>
                <div>
                    <span asp-validation-for="@Model.group_name" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-12 form-group mt-2">
                    <label asp-for="@Model.staf_name" class="control-label"></label>
                    <input asp-for="@Model.staf_name" class="form-control" readonly />
                </div>
                <div>
                    <span asp-validation-for="@Model.staf_name" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-12 form-group mt-2">
                    <label asp-for="@Model.update_user" class="control-label"></label>
                    <input asp-for="@Model.update_user" class="form-control" readonly />
                </div>
                <div>
                    <span asp-validation-for="@Model.update_user" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-12 form-group mt-2">
                    <label asp-for="@Model.update_date" class="control-label"></label>
                    <input asp-for="@Model.update_date" class="form-control" readonly />
                </div>
                <div>
                    <span asp-validation-for="@Model.update_date" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.group_cd" name="group_cd" />
                <div class="row mt-3">
                    <div class="col">
                        <a asp-controller="EmployeeGroup" asp-action="GetDetails" asp-route-id="@Model.group_cd" class="btn btn-primary">キャンセル</a>
                    </div>
                    <div class="col text-end">
                        <button type="submit" class="btn btn-danger">削　除</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/EmployeeGroup.js" asp-append-version="true"></script>
    }
}
