@model web_groupware.Models.BoardViewModel;
@using web_groupware.Utilities;
@{
    ViewData["Title"] = "掲示板";
}

@section Styles {
    <link href="~/css/board.css" rel="stylesheet" />
}

<div class="row">
    <nav class="col-lg-4 col-md-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">掲示板</li>
        </ol>
    </nav>
</div>

<div class='card'>
    <form id="frm" method="post" asp-controller="Board" asp-action="Index">
        <div class="card-header d-flex align-items-center">
            <div class="d-flex col-lg-3 col-3 me-4">
                <div class="input-group">
                    <span class="input-group-text">タイトル・内容</span>
                    <input type="text" asp-for="@Model.cond_keyword" class="form-control form-control-light" placeholder="">
                </div>
            </div>
            <div class="d-flex col-lg-2 col-2 me-4">
                <div class="input-group">
                    <span class="input-group-text">確認状態</span>
                    <select asp-for="@Model.cond_already_checked" asp-items="@Model.list_already_checked" class="form-select site_change_post">
                    </select>
                </div>
            </div>
            <div class="d-flex col-lg-2 col-2 align-items-center me-4">
                <div class="input-group">
                    <span class="input-group-text">担当者</span>
                    <select asp-for="@Model.cond_applicant" asp-items="@Model.list_applicant" class="form-select site_change_post">
                    </select>
                </div>
            </div>
            <div class="d-flex col-lg-2 col-2 me-4">
                <div class="input-group">
                    <span class="input-group-text">種類</span>
                    <select asp-for="@Model.cond_category" asp-items="@Model.list_category" class="form-select site_change_post">
                    </select>
                </div>
            </div>
            <div class="d-flex col-lg-3 col-3">
                <a class="btn btn-primary" asp-action="Create">
                    <i class="bi bi-plus"></i> 新規登録
                </a>
            </div>
        </div>
    </form>
    <div class="card-body">
        <div class="row">

            @{
                var headerClasses = new string[] { "bg-upcoming", "bg-requesting", "bg-progress", "bg-completed" };
                var i = 0;
            }
            @foreach (var type in @BoardStatus.All)
            {
                <div class="col-xl-3 col-md-6 mb-3">
                    <div class="card board">
                        <div class="card-body">
                            <div class="list-header">
                                <div class="@headerClasses[i]"></div>
                                <span class="panel-title">@type</span>
                                <div class="badge item-count">@Model.CountList[i]</div>
                            </div>
                            <ul class="sortable-list tasklist list-unstyled" id="@i">
                                @foreach (var item in Model.BoardList)
                                {
                                    @if (item.status == i)
                                    {
                                        <li id="board-@item.board_no" data-checked="@item.already_checked" data-applicant_cd="@item.applicant_cd" data-category_cd="@item.category_cd" class="task" draggable="false">
                                            <div>
                                                <span class="badge @headerClasses[i]">@type</span>
                                                <span class="fs-6"></span>
                                            </div>
                                            <p class="item-title mb-0">
                                                @item.title
                                            </p>
                                            <div class="d-flex">
                                                <span class="avatar-title rounded-circle bg-success text-white">@item.registrant_name?[0]</span>
                                                <span class="item-date pt-1 ps-2">@item.register_date</span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                i++;
            }
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/sortablejs/Sortable.min.js" asp-append-version="true"></script>
        <script src="~/js/Board.js" asp-append-version="true"></script>
    }
}