@model web_groupware.Models.BoardDetailViewModel
@using web_groupware.Utilities;

@{
    ViewData["Title"] = "掲示板";
    ViewData["ConfirmText"] = "データを削除します。よろしいですか？";
    ViewData["FormName"] = "boardForm";
}

@section Styles {
    <link href="~/css/board.css" rel="stylesheet" />
    <link href="~/css/file.css" rel="stylesheet" />
}

<div class="p-2 px-md-3 pb-md-3 pt-md-2 pb-0">
    <div class="container-fluid">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Board" asp-action="Index">掲示板</a></li>
                    <li class="breadcrumb-item active" aria-current="page">詳細</li>
                </ol>
            </nav>
        </div>
        <div class="card" style="">
            <form asp-action="Update" id="boardForm" class="form-box" method="post" enctype="multipart/form-data">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <span>
                        <h4 class="mb-0" id="pageTitle">詳細</h4>
                    </span>
                    <div class="d-flex justify-content-end">
                        @if (Model.is_editable)
                        {
                            <button type="button" class="btn btn-secondary back_edit" style="margin-right: 10px">
                                <i class="bi bi-arrow-return-left"></i> 戻る
                            </button>
                            <button type="button" class="btn btn-primary btnSave">
                                <i class="bi bi-floppy"></i> 保存
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                                <i class="bi bi-arrow-return-left"></i> 戻る
                            </button>
                            <button type="button" class="btn btn-primary btnEdit" style="margin-right: 10px">
                                <i class="bi bi-pencil"></i> 変更
                            </button>                        
                            <button type="button" class="btn btn-danger btnDelete" data-toggle='modal' data-target="#modal-delete" onClick="onDeleteConfirmModal()" style="margin-right: 10px">
                                <i class="bi bi-trash3"></i> 削除
                            </button>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input hidden asp-for="@Model.board_no" />
                    <input hidden asp-for="@Model.registrant_name" />
                    <input hidden asp-for="@Model.applicant_cd" />
                    <input hidden asp-for="@Model.status" />
                    <input hidden asp-for="@Model.category_cd" />
                    <input hidden asp-for="@Model.already_checked" />
                    <input hidden asp-for="@Model.file_nos_remove" value="@Model.file_nos_remove" />
                    <input hidden asp-for="@Model.Delete_files" />
                    <input hidden id="show_on_top" name="show_on_top" />
                    @{
                        ViewData["DeleteID"] = Model.board_no;
                    }

                    <div class="form-group mb-3">
                        <label asp-for="@Model.title" class="form-label"></label>
                        <div class="d-flex justify-content-between">
                            @if (Model.is_editable)
                            {
                                <div class="flex-grow-1 me-3">
                                    <input type="text" asp-for="@Model.title" class="form-control bg-white"/>
                                    <span asp-validation-for="@Model.title" class="text-danger"></span>
                                </div>
                                <div class="d-flex justify-content-end">
                                    @if (Model.show_on_top)
                                    {
                                        <button type="button" class="btn btn-success" id="btnShowOnTop" data-val="true" hidden>トップから消す</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-success" id="btnShowOnTop" data-val="false" hidden>トップに出す</button>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="flex-grow-1 me-3">
                                    <label class="mb-0 p-1 form-control" style="white-space: pre-wrap">@Model.title</label>
                                </div>
                                <div class="d-flex justify-content-end">
                                    @if (Model.show_on_top)
                                    {
                                        <button type="button" class="btn btn-success" id="btnShowOnTop" data-val="true">トップから消す</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-success" id="btnShowOnTop" data-val="false">トップに出す</button>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-sm-4">
                            <label asp-for="@Model.category_cd" class="form-label"></label>
                            @if (Model.is_editable)
                            {
                                <select class="form-select bg-white" id="board_category">
                                    <option value=""></option>
                                    @if (Model.CategoryList != null)
                                    {
                                        @foreach (var item in Model.CategoryList)
                                        {
                                            if (item.category_cd == Model.category_cd)
                                            {
                                                <option value=@item.category_cd selected>@item.category_name</option>
                                            }
                                            else
                                            {
                                                <option value=@item.category_cd>@item.category_name</option>
                                            }
                                        }
                                    }
                                </select>
                            }
                            else
                            {
                                <div class="flex-grow-1 me-3">
                                    @if (Model.CategoryList != null)
                                    {
                                        @foreach (var item in Model.CategoryList)
                                        {
                                            if (item.category_cd == Model.category_cd)
                                            {
                                                <label class="mb-0 p-1 form-control" style="white-space: pre-wrap">@item.category_name</label>
                                            }
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="@Model.content" class="form-label"></label>
                        @if (Model.is_editable)
                        {
                            <textarea asp-for="@Model.content" class="form-control bg-white"
                                rows="15" placeholder="" style="margin-top: 0px; margin-bottom: 0px"></textarea>
                            <span asp-validation-for="@Model.content" class="text-danger"></span>
                        }
                        else
                        {
                            <div class="flex-grow-1 me-3">
                                <label class="mb-0 p-1 form-control" style="white-space: pre-wrap">@Model.content</label>
                            </div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="@Model.applicant_cd" class="form-label"></label>
                        @if (Model.is_editable)
                        {
                            <select class="form-select bg-white" id="applicant">
                                <option value=""></option>
                                @if (Model.StaffList != null)
                                {
                                    @foreach (var item in Model.StaffList)
                                    {
                                        if (item.staff_cd == Model.applicant_cd)
                                        {
                                            <option value=@item.staff_cd selected>@item.staff_name</option>
                                        }
                                        else
                                        {
                                            <option value=@item.staff_cd>@item.staff_name</option>
                                        }
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <div class="flex-grow-1 me-3">
                                @if (Model.StaffList != null)
                                {
                                    @foreach (var item in Model.StaffList)
                                    {
                                        if (item.staff_cd == Model.applicant_cd)
                                        {
                                            <label class="mb-0 p-1 form-control" style="white-space: pre-wrap">@item.staff_name</label>
                                        }
                                    }
                                }
                            </div>
                        }
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.File" class="form-label"></label>
                        <partial name="_FileList" model="@Model.fileModel" />
                    </div>

                    <div class="row mb-3" id="fileArea">
                        <input type="hidden" asp-for="@Model.work_dir">
                        <input type="hidden" id="dic_cd" value="@DIC_KB_700_DIRECTORY.BOARD">
                        <input type="hidden" id="dir_no" value="@Model.board_no">
                        <input type="hidden" asp-for="@Model.Upload_file_allowed_extension_1" />
                        <div class="validation-extension-error text-danger d-none"><span>アップロード可能なファイルはファイルの種類は</span>@Model.Upload_file_allowed_extension_1<span>のみです。</span></div>
                        @if (Model.is_editable)
                        {
                            <div class="col-12 dropArea border-0 p-2">
                                <div id="drag_area" class="text-center px-3 py-3 bg-white">
                                    <span>ファイルをドラッグ＆ドロップするかクリップボードから画像を貼り付けしてください　または　</span>
                                    <label class="input-group-btn hand-pointer">
                                        <span class="btn btn-secondary">
                                            ファイル選択<input type="file" multiple class="d-none" asp-for="@Model.File">
                                        </span>
                                    </label>
                                    <br>
                                    <span>ファイル追加（Shiftキーを押しながらファイルを複数選択可能）</span>
                                </div>
                            </div>
                        }
                    </div>

                    @**********　確認　start　*************************************************************************@
                    <div class="row mt-1">
                        <div class="col">
                            @{
                                var btn_text_main = "";
                                @if (!Model.already_checked)
                                {
                                    btn_text_main = Check_button_text.CHECK;
                                }
                                else
                                {
                                    btn_text_main = Check_button_text.CANCEL;
                                }
                            }
                            <a href="javascript:void(0)" data-comment_no="@Model.board_no" class="check_main me-3">@btn_text_main</a>
                            <span class="accordion" id="accordionExample">
                                <span class="accordion-header alert alert-primary p-0">
                                    <a href="javascript:void(0)" id="_Checked_count" class="" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                                        @Model.check_count
                                    </a>
                                </span>
                                <div id="collapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div id="_Checked_member" class="accordion-body py-0">
                                        @foreach (var item in Model.list_check_member)
                                        {
                                            <div>@item</div>
                                        }
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    @**********　確認　end　*************************************************************************@                    
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                            <i class="bi bi-arrow-return-left"></i> 戻る
                        </button>
                        @if (Model.is_editable)
                        {
                            <button type="button" class="btn btn-primary btnSave">
                                <i class="bi bi-floppy"></i> 保存
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary btnEdit" style="margin-right: 10px">
                                <i class="bi bi-pencil"></i> 変更
                            </button>                        
                            <button type="button" class="btn btn-danger btnDelete" data-toggle='modal' data-target="#modal-delete" onClick="onDeleteConfirmModal()" style="margin-right: 10px">
                                <i class="bi bi-trash3"></i> 削除
                            </button>
                        }
                    </div>
                </div>
            </form>
        </div>

        <div class="mt-5 d-flex">
            <span class="fw-semibold">コメント</span><span class="small pt-1">(<span id="comment-count">@Model.commentTotalCount</span>)</span>
        </div>

        <div class="card mt-2">
            <div class="card-body" id="comment-list">
                @if (Model.CommentList != null)
                {
                    var count = Math.Min(5, Model.commentTotalCount);
                    @for (var i = 0; i < count; i++)
                    {
                        var item = Model.CommentList[i];
                        <div class="comment-item d-flex" id="C-@item.comment_no">
                            <span class="avatar-title rounded-circle bg-success text-white">@item.registrant_name?[0]</span>
                            <div class="flex-1 pt-1 ps-2">
                                <div class="fw-bold pb-2">
                                    @item.registrant_name
                                    <small class="text-muted fw-normal float-end pt-1 register-date">@item.register_date</small>
                                </div>
                                <span style="white-space: pre-wrap">@item.message</span>
                                @if (item.CommentFileDetailList.Count != 0)
                                {
                                    <div class="row">
                                        <div class="col d-flex">

                                            @foreach (var file in item.CommentFileDetailList)
                                            {
                                                <div class="div_icon_child dropdown fileAreaHeitWidth">
                                                    <input type="hidden" asp-for="@file.filename">
                                                    <input type="hidden" asp-for="@file.file_no">
                                                    <button class="border-0 p-0 dropdown-toggle btn_file fileAreaInnerWidth" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: var(--bs-card-bg);">
                                                        <div class="div_tooltip" data-toggle="tooltip" data-placement="top" title="@file.filename">

                                                            <div class="div_img_file bg-light p-2">
                                                                @{
                                                                    var icon = System.IO.Path.GetExtension(file.filename).Remove(0, 1) + ".svg";
                                                                }

                                                                <img src="~/images/file-icons/@icon" alt="icon" style="height: 50px;">
                                                            </div>
                                                            <div class="text-wrap">@file.filename</div>
                                                        </div>
                                                    </button>
                                                    <ul class="dropdown-menu fileAreaInnerWidth text-center">
                                                        <button class="dropdown-item comment_download_file" type="button" role="button" data-dir_kind="1" data-file_name="@file.filename" data-comment_no="@file.comment_no">ﾀﾞｳﾝﾛｰﾄﾞ</button>
                                                        @{
                                                            var dir_no = Model.board_no  +@"\"+ file.comment_no;

                                                            var extension = System.IO.Path.GetExtension(file.filename).ToLower();
                                                        }
                                                        @if (PREVIEW_ALLOWED_EXTENSION.LIST.Contains(extension))
                                                        {
                                                            <a class="dropdown-item preview_file site_iframe_preview" asp-controller="Base" asp-action="PreviewFile" asp-route-dic_cd="@DIC_KB_700_DIRECTORY.BOARD" asp-route-dir_no="@dir_no" asp-route-file_name="@file.filename">ﾌﾟﾚﾋﾞｭｰ</a>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            
                        </div>

                    }
                }
            </div>

            <div class="card-body pt-0">
                @{
                    string more_clazz = "d-none";
                    if (Model.commentTotalCount > 5)
                    {
                        more_clazz = "";
                    }
                }
                <div class="col-12 text-center @more_clazz">
                    <div id="btnMore"><div class="btn-more"></div></div>
                </div>

                @if (!Model.is_editable)
                {
                    <div class="rounded mt-3 mb-3">
                        <div class="form-box comment-area-box">
                            <div class="form-group">
                            <label asp-for="@Model.CommentFile" class="form-label"></label>
                            <partial name="_CommentFileList" model="@Model.commentFileModel" />
                        </div>
                        
                        <div class="row mb-3" id="commentFileArea">
                            <input type="hidden" asp-for="@Model.comment_work_dir">
                            <input type="hidden" id="comment_dic_cd" value="@DIC_KB_700_DIRECTORY.BOARD">
                            <div class="validation-extension-error text-danger d-none"><span>アップロード可能なファイルはファイルの種類は</span>@Model.Upload_file_allowed_extension_1<span>のみです。</span></div>

                            <div class="col-12 commentDropArea border-0 p-2">
                                <div id="comment_drag_area" class="text-center px-3 py-3 bg-white">
                                    <span>ファイルをドラッグ＆ドロップするかクリップボードから画像を貼り付けしてください　または　</span>
                                    <label class="input-group-btn hand-pointer">
                                        <span class="btn btn-secondary">
                                            ファイル選択<input type="file" multiple class="d-none" asp-for="@Model.CommentFile">
                                        </span>
                                    </label>
                                    <br>
                                    <span>ファイル追加（Shiftキーを押しながらファイルを複数選択可能）</span>
                                </div>
                            </div>
                        </div>
                            <textarea id="message" class="form-control bg-white border resize-none"
                                    rows="3" placeholder="コメント（&#64;を入力してメンバーに通知）" style="margin-top: 0px; margin-bottom: 0px"></textarea>
                            <div class="p-2 text-end">
                                <button class="btn btn-sm btn-primary" id="btnAddComment" disabled><i class="bi bi-send me-2"></i>登録</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@using System.Text.Json
@{
    var allowedExtensionsJson = JsonSerializer.Serialize(PREVIEW_ALLOWED_EXTENSION.LIST);
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/BoardCreate.js" asp-append-version="true"></script>
        <script src="~/js/BoardFile.js" asp-append-version="true"></script>
    }
    <script>
        var isEditable = @Model.is_editable.ToString().ToLower()
        var fileRemoveList = []
        var deleteAction = "Delete"
        var deleteKey = "board_no"
        var deleteId = $('#board_no').val()
        var PREVIEW_ALLOWED_EXTENSION_LIST = @Html.Raw(allowedExtensionsJson);
    </script>
}
