@model web_groupware.Models.WorkFlowDetailViewModel
@using web_groupware.Utilities;

@{
    ViewData["Title"] = "申請詳細";
    ViewData["FormName"] = "workFlowForm";
}

@section Styles {
    <link href="~/css/workflow.css" rel="stylesheet" />
    <link href="~/css/file.css" rel="stylesheet" />
}

<div class="p-2 px-md-3 pb-md-3 pt-md-2 pb-0">
    <div class="container-fluid">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
                    <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="WorkFlow" asp-action="Index">ワークフロー	</a></li>
                    @if (Model.status == WorkflowApproveStatus.REJECT)
                    {
                        <li class="breadcrumb-item active" aria-current="page">否決詳細</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active" aria-current="page">申請詳細</li>
                    }
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-header justify-content-between d-flex align-items-center">
                <span>
                    @if (Model.status == WorkflowApproveStatus.REJECT)
                    {
                        <span class="h4 page-title">否決詳細</span>
                    }
                    else
                    {
                        <span class="h4 page-title">申請詳細</span>
                    }
                </span>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                        <i class="bi bi-arrow-return-left"></i> 戻る
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group mb-3">
                    <label asp-for="@Model.request_type" class="form-label"></label>
                    <input type="hidden" asp-for="@Model.request_type" class="form-control" readonly />
                    <label class="mb-0 p-2 form-control" style="white-space: pre-wrap">@Model.request_type_name</label>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.title" class="form-label"></label>
                    <input type="hidden" asp-for="@Model.title" class="form-control" readonly />
                    <label class="mb-0 p-2 form-control" style="white-space: pre-wrap">@Model.title</label>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.description" class="form-label"></label>
                    @if (Model.description != null && Model.description.Any())
                    {
                        <label class="mb-0 p-2 form-control" style="white-space: pre-wrap">@Model.description</label>
                    }
                    else
                    {
                        <label class="mb-0 p-2 form-control">&nbsp;</label>
                    }
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3">
                        <label asp-for="@Model.approver_cd1" class="form-label"></label>
                        <input type="hidden" asp-for="@Model.approver_cd1" class="form-control" readonly />
                        @if (Model.approver1 == null)
                        {
                            <label class="mb-0 p-2 form-control" style="white-space: pre-wrap"></label>
                        } else
                        {
                            <label class="mb-0 p-2 form-control" style="white-space: pre-wrap">@Model.approver1?.approver_name</label>
                        }
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label asp-for="@Model.approver_cd2" class="form-label"></label>
                        <input type="hidden" asp-for="@Model.approver_cd2" class="form-control" readonly />
                        @if (Model.approver2 == null)
                        {
                            <label class="mb-0 p-2 form-control" style="white-space: pre-wrap"></label>
                        }
                        else
                        {
                            <label class="mb-0 p-2 form-control" style="white-space: pre-wrap">@Model.approver2?.approver_name</label>
                        }
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="@Model.top_approver_cd" class="form-label"></label>
                    <input type="hidden" asp-for="@Model.top_approver_cd" class="form-control" readonly />
                    <label class="mb-0 p-2 form-control" style="white-space: pre-wrap">@Model.top_approver.approver_name</label>
                </div>

                <div class="form-group">
                    <input type="hidden" id="dic_cd" value="@DIC_KB_700_DIRECTORY.WORKFLOW">
                    <input type="hidden" id="dir_no" value="@Model.workflow_no">
                    <label asp-for="@Model.File" class="form-label"></label>
                    @if (Model.fileModel.fileList != null && Model.fileModel.fileList.Any())
                    {
                        <partial name="_FileList" model="@Model.fileModel" />
                    }
                    else
                    {
                        <p class="mb-0 p-2 form-label">添付ファイルなし</p>
                    }
                </div>

            </div>

            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary back" style="margin-right: 10px">
                        <i class="bi bi-arrow-return-left"></i> 戻る
                    </button>
                </div>
            </div>
            
        </div>
        
        @if (Model.top_approver.approve_result == WorkflowApproveResult.REJECT)
        {
            <partial name="_Comment" model="@Model.top_approver" />
        }

        @if (Model.approver1 != null && Model.approver1?.approve_result == WorkflowApproveResult.REJECT)
        {
            <partial name="_Comment" model="@Model.approver1" />
        }

        @if (Model.approver2 != null && Model.approver2?.approve_result == WorkflowApproveResult.REJECT)
        {
            <partial name="_Comment" model="@Model.approver2" />
        }

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script src="~/js/WorkFlowCreate.js" asp-append-version="true"></script>
        <script src="~/js/File.js" asp-append-version="true"></script>
    }
    <script>
        var isEditable = false
    </script>
}
