@{
    ViewData["Title"] = "ワークフロー	";
}

@model web_groupware.Models.WorkFlowViewModel
@using web_groupware.Utilities

<div class="p-2 px-md-3 pb-md-3 pt-md-2 pb-0">
    <div class="container-fluid" id="root">
        <div class="row">
            <nav class="col-lg-4 col-md-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" asp-controller="Home" asp-action="Index">ホーム</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ワークフロー</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-header justify-content-between">
                <h4 class="mb-0"></h4>
                <div class="col-auto d-flex">
                    <div>
                        <div class="input-group">
                            <span class="input-group-text">状態</span>
                            <select class="form-select me-3" id="filter_status" name="filter_status">
                                @{
                                    int idx = 0;
                                }
                                @foreach (var item in WorkflowApproveStatus.AllStatus)
                                {
                                    <option value=@idx>@WorkflowApproveStatus.AllStatus[idx]</option>
                                    idx++;
                                }
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="input-group me-3">
                            <span class="input-group-text">キーワード</span>
                            <input type="text" id="keyword" class="form-control" placeholder="キーワードを入力" aria-label="キーワード">
                        </div>
                    </div>
                    <div style="margin-left: auto">
                        <a id="add_facility" class="btn btn-primary" asp-action="Create"><i class="bi bi-plus"></i> 新規登録</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    @*<div class="btn-group float-end" role="group" aria-label="Basic example">
                        <button class="btn btn-primary waves-effect waves-light mb-3">
                            申請中
                        </button>
                        <button class="btn btn-warning waves-effect waves-light mb-3">
                            承認済み
                        </button>
                        <button class="btn btn-danger waves-effect waves-light mb-3">
                            否決
                        </button>
                        <button class="btn btn-info waves-effect waves-light mb-3">
                            決済申請中
                        </button>
                        <button class="btn btn-success waves-effect waves-light mb-3">
                            決済承認済み
                        </button>
                    </div>*@

                    @{
                        var staff_cd = int.Parse(@User.FindFirst(ClaimTypes.STAF_CD).Value);
                    }
                    @if (Model.WorkflowList != null)
                    {
                        @foreach (var item in Model.WorkflowList)
                        {
                            <div class="col-12 item-workflow" data-status="@item.status">
                                <div class="card mb-3">
                                    <div class="card-header justify-content-between">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 my-0">
                                                <a class="btn btn-outline-dark d-inline-block" asp-action="Detail" asp-route-workflow_no="@item.workflow_no">@WorkflowApproveStatus.AllStatus[item.status]</a>
                                            </div>
                                            <div class="col-12 col-sm-6 my-0 text-sm-end text-start">
                                                <span class="d-inline-block my-1 my-sm-2">最終更新日：@item.update_date</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title h5 item-title">@item.title</p>

                                        <div class="card-text">
                                            <table class="table mb-0">
                                                <tr>
                                                    <td class="border-0">
                                                        <table class="table table-sm mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="border-0 border-bottom border-dark-subtle">
                                                                        <text>@item.approver_name：</text>
                                                                        @if (item.approve_result == 1)
                                                                        {
                                                                            <span class="badge text-bg-success">承　認</span>

                                                                        }
                                                                        else if (item.approve_result == 2)
                                                                        {
                                                                            <span class="badge text-bg-danger">否　決</span>
                                                                            <div>@item.comment</div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="badge text-bg-warning">未処理</span>
                                                                        }
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="card-footer justify-content-between">
                                        @if (item.requester_cd == staff_cd && item.status == WorkflowApproveStatus.DRAFT)
                                        {
                                            <a asp-action="Update" asp-route-workflow_no="@item.workflow_no" class="btn btn-primary">
                                                <i class="bi bi-pencil"></i> 変更
                                            </a>
                                            <a asp-action="Proposal" asp-route-workflow_no="@item.workflow_no" class="btn btn-primary">
                                                <i class="bi bi-patch-question"></i> 申請
                                            </a>
                                            <a asp-action="Delete" asp-route-workflow_no="@item.workflow_no" class="btn btn-danger">
                                                <i class="bi bi-trash3"></i> 削除
                                            </a>
                                        }
                                        else if (item.requester_cd != staff_cd && item.status == WorkflowApproveStatus.REQUEST)
                                        {
                                            <a asp-action="Accept" asp-route-workflow_no="@item.workflow_no" class="btn btn-primary">
                                                <i class="bi bi-check"></i>承認を行う
                                            </a>
                                        }
                                        else
                                        {
                                            <div>　</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/WorkFlow.js" asp-append-version="true"></script>
    }
}